@font-face {
    font-family: 'Sarpanch';
    src: url(assets/fonts/Sarpanch-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Sarpanch';
    src: url(assets/fonts/Sarpanch-Bold.ttf) format('truetype');
    font-weight: bold;
}

.menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;

  }
  
  .menuli {
    float: right;
  }
  
  .menulititle {
    float: right;
    font-family: 'Sarpanch', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    font-size: 60px;
  }
  
  .menulia {
    display: block;
    color: black;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    font-family: 'Sarpanch', sans-serif;
    font-size: 20px;
  }
  
  button{
    border: 0;
  }
  
  .menubutton{
    background-color: #B5B5B5;
  }
  
  body{
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    }
  
  p{
    padding-left: 30px;
    padding-bottom: 60px;
  }
  
  .menubar{
    display: none;
  }

  .line{
    position: absolute;
    width: 99%;
    height: 100px;
    top: 100px;
}

.todo{
    height: 20%;
    width: 30%;
    display: inline-block;
    padding-left: 26px;
    padding-top: 40px;
    padding-right: 15px;
    font-style: 'Sarpach';
}


.card-head {
    height: 30%;
    background-color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-head img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.card-head .info {
    display: flex;
    padding: 0 1.5rem 2rem 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.card-head .info .desc{
    display: inline-block;
    width: 70%;
    height: 90%;
}

.card-head .info .desc .title{
    display: block;
    width: 100%;
}

.card-head .info .desc .title h1{
    font-style: normal;
    font-weight: 400;
}

.card-head .info .desc p{
    display: inline-block;
    color: #5A5A5A;
}

.card-head .info .rating {
    display: inline-block;
}

.card-head .info .rating p {
    background-color: #D9D9D9;
    padding: 5px 10px;   
}

